<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>产地</key>
	<array>
		<string>中国</string>
		<string>美国</string>
		<string>日本</string>
		<string>印度</string>
		<string>俄罗斯</string>
	</array>
	<key>材质</key>
	<array>
		<string>皮革</string>
		<string>实木</string>
		<string>合金</string>
	</array>
	<key>尺寸</key>
	<array>
		<string>S</string>
		<string>M</string>
		<string>L</string>
		<string>XL</string>
	</array>
	<key>颜色</key>
	<array>
		<string>红</string>
		<string>黄</string>
		<string>蓝</string>
		<string>黑</string>
	</array>
</dict>
</plist>
